<h1>Merchant Discounts</h1>
<% @discounts.each_with_index do |discount, index| %>
  <div id="discount-<%= index %>">
    <%= link_to "Discount #{(index + 1)}", "/merchants/#{@merchant_id}/discounts/#{discount.id}" %>: <%=discount.percentage%>%<br>
    Quantity Threshold: <%= discount.quantity %><br>
  </div>
<% end %>